# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
TEMP_FILE.c
main.dSYM/Contents/Resources/Relocations/aarch64/main.yml
main.dSYM/Contents/Resources/DWARF/main
main.dSYM/Contents/Info.plist
.DS_Store
.DS_Store
main
main
